[submodule "ITW/itw-projeto-final"]
	path = ITW/itw-projeto-final
	url = https://github.com/JCapucho/itw-projeto-final.git
[submodule "MAS/Projeto (site)"]
	path = MAS/Projeto (site)
	url = https://github.com/JCapucho/mas-projeto-final.git
[submodule "excalidraw"]
	path = excalidraw
	url = https://github.com/excalidraw/excalidraw.git
[submodule "2ano1/MPEI/trabalho-pratico-2-2023-2024-v1"]
	path = 2ano1/MPEI/trabalho-pratico-2-2023-2024-v1
	url = https://github.com/JCapucho/Trabalho-MPEI-2.git
