code span.al { color: var(--highlight-error); font-weight: bold; } /* Alert */
code span.an { color: var(--highlight-comment); font-weight: bold; font-style: italic; } /* Annotation */
code span.at { color: var(--highlight-const); } /* Attribute */
code span.bn { color: var(--highlight-number); } /* BaseN */
code span.bu { color: var(--highlight-builtin); } /* BuiltIn */
code span.cf { color: var(--highlight-control-flow); font-weight: bold; } /* ControlFlow */
code span.ch { color: var(--highlight-string); } /* Char */
code span.cn { color: var(--highlight-const); } /* Constant */
code span.co { color: var(--highlight-comment); font-style: italic; } /* Comment */
code span.cv { color: var(--highlight-comment); font-weight: bold; font-style: italic; } /* CommentVar */
code span.do { color: var(--highlight-comment); font-style: italic; } /* Documentation */
code span.dt { color: var(--highlight-builtin-types); } /* DataType */
code span.dv { color: var(--highlight-number); } /* DecVal */
code span.er { color: var(--highlight-error); font-weight: bold; } /* Error */
code span.ex { } /* Extension */
code span.fl { color: var(--highlight-number); } /* Float */
code span.fu { color: var(--highlight-function); } /* Function */
code span.im { color: var(--highlight-import); font-weight: bold; } /* Import */
code span.in { color: var(--highlight-info); font-weight: bold; font-style: italic; } /* Information */
code span.kw { color: var(--highlight-keyword); font-weight: bold; } /* Keyword */
code span.op { color: var(--highlight-operator); } /* Operator */
code span.ot { color: var(--highlight-keyword); } /* Other */
code span.pp { color: var(--highlight-preprocessor); } /* Preprocessor */
code span.sc { color: var(--highlight-special); } /* SpecialChar */
code span.ss { color: var(--highlight-special); } /* SpecialString */
code span.st { color: var(--highlight-string); } /* String */
code span.va { color: var(--highlight-variable); } /* Variable */
code span.vs { color: var(--highlight-string); } /* VerbatimString */
code span.wa { color: var(--highlight-warn); font-weight: bold; font-style: italic; } /* Warning */
