<!DOCTYPE html>
<html lang="pt-PT">
    <head>
        <title>{{ title }}</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />

        <meta name="referrer" content="no-referrer" />
        <meta name="theme-color" content="#EEEEEE" />
        <meta name="color-scheme" content="dark light" />

        <meta name="author" content="{{ author }}" />
        <meta name="description" content="{{ description }}">

        <meta property="og:title" content="{{ title }}" />
        <meta property="og:type" content="website" />
        <meta property="og:description" content="{{ description }}" />
        <meta property="og:locale" content="pt-PT" />

        <meta name="twitter:card" content="summary" />
        <meta name="twitter:title" content="{{ title }}" />
        <meta name="twitter:description" content="{{ description }}" />

        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,300" rel="stylesheet" type="text/css">

        <style>
            body {
                margin: 40px auto;
                max-width: 650px;
                line-height: 1.6;
                font-size: 18px;
                color: #444;
                padding: 0 10px;
                background-color: #EEEEEE;
                font-family: "Open Sans", sans-serif;
            }

            h1,
            h2,
            h3 {
                line-height: 1.2;
            }

            a {
                font-weight: 500;
                color: #3b82f6;
                text-decoration:none;
            }
            a:visited { color: #3b82f6; }
            a:hover { text-decoration-line: underline; }
            a:active {
                color: #ff4040;
                text-decoration: none;
                font-weight: normal;
            }

            @media (prefers-color-scheme: dark) {
                body {
                    background: #333;
                    color: #EEE;
                }
            }
        </style>
    </head>
    <body>
        <h1>Resumos Universidade</h1>
        <ul>
            {%- for node in sitemap recursive %}
                <li>
                    {%- if node.link is not none -%}
                        <a href="{{ node.link.href|e }}" {{ "download" if node.link.download }}>
                            {{node.name}}
                        </a>
                    {%- else %}
                        {{node.name}}
                    {%- endif %}
                    {%- if node.children -%}
                        <ul>
                            {{ loop(node.children) }}
                        </ul>
                    {%- endif %}
                </li>
            {%- endfor %}
        </ul>
    </body>
</html>
<!--
    vi: ft=html
-->
