<!DOCTYPE html>
<html lang="pt-PT">

<head>
	<title>{{ title }}</title>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />

	<meta name="referrer" content="no-referrer" />
	<meta name="theme-color" content="#EEEEEE" />
	<meta name="color-scheme" content="dark light" />

	<meta name="author" content="{{ author }}" />
	<meta name="description" content="{{ description }}">

	<meta property="og:title" content="{{ title }}" />
	<meta property="og:type" content="website" />
	<meta property="og:description" content="{{ description }}" />
	<meta property="og:locale" content="pt-PT" />

	<meta name="twitter:card" content="summary" />
	<meta name="twitter:title" content="{{ title }}" />
	<meta name="twitter:description" content="{{ description }}" />

	<link href="https://fonts.googleapis.com/css?family=open+sans:400,600,300" rel="stylesheet" type="text/css">
	<link href="resources/global.css" rel="stylesheet" type="text/css">
</head>

<body>
	<h1>Resumos Universidade</h1>
	<ul class="root-content">
		{% set ns = namespace(path=[]) %}
		{%- for node in sitemap recursive %}
		{% set ns.path = ns.path[:loop.depth0] + [loop.index|string] %}
		<li>
			{%- if node.link is not none -%}
			<a href="{{ node.link.href|e }}" {{ "download" if node.link.download }}>
				{{node.name}}

				{%- if node.link.external -%}
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
					stroke="currentColor" class="external-link">
					<path stroke-linecap="round" stroke-linejoin="round"
						d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
				</svg>
				{%- endif -%}
			</a>
			{%- else %}
			<input type="checkbox" id="collapse-{{ '-'.join(ns.path) }}" class="collapse-checkbox">
			<label for="collapse-{{ '-'.join(ns.path) }}" class="collapse-label">{{node.name}}</label>
			{%- endif %}
			{%- if node.children -%}
			<ul>
				{{ loop(node.children) }}
			</ul>
			{%- endif %}
		</li>
		{%- endfor %}
	</ul>
</body>

</html>
<!--
    vi: ft=html
-->
